<head>
  <% include partials/sheets %>
</head>

<body style="background: #1b212b;">
  <div class="row">
    <div class="col-md-6 offset-2">
        <div class="form-group">
          <input id="add_item" type="text" name="item" placeholder="Add Item..." class="form-control">
        </div>
    </div>
    <div class="col-3">
        <input id="submit_item" type="button" class="btn btn-info" value="Add Item">
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 offset-2">
      <div class="panel panel-info panel-unfinished">
        <div class="panel-heading text-center">UnFinished</div>
      </div>
      <div class="panel-body panel-body-unfinished">
        <div class="row">
          <div class="col-md-8">
            <ul id="items_list">
              <% for (var i=0;ongoing && i<ongoing.length;i++) {%>
                  <div class="dropdown">
                    <li class="dropbtn"><%=ongoing[i].item%></li>
                      <div class="dropdown-content" id="<%=ongoing[i].item%>">
                        <li id="completed">Complete</li>
                        <li id="remove">Remove</li>
                      </div>
                  </div>
                  <br/>
                <% } %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-info panel-completed">
        <div class="panel-heading text-center">Completed</div>
      </div>
      <div class="panel-body panel-body-completed">
        <div class="row">
          <div class="col-md-8">
            <ul id="items_list">
              <% for (var i=0;completed && i<completed.length;i++) {%>
                  <div class="dropdown">
                    <li class="dropbtn"><%=completed[i].item%></li>
                      <div class="dropdown-content" id="<%=completed[i].item%>">
                        <li id="un_completed">Un-Complete</li>
                        <li id="remove">Remove</li>
                      </div>
                  </div>
                  <br/>
                <% } %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
